In [36]:
arr=list(map(int,input().split()))
sum=0
for i in arr:
    if i%2==0:
        sum=sum+i
print(sum)
print(arr)

1 2 3
2
[1, 2, 3]

In [17]:
l=[1,2,3,4,5]
sum=0
for i in l:
    sum=sum+i
print(sum)

15

2
2
abhi raj
67 57

In [38]:
n=int(input())
arr=list(map(int,input().split()))
p=arr[0]
q=arr[-1]
print(p+q)

3
1 2 3
4

In [42]:
marks=list(map(int,input().split()))
print(marks)
for i in range(len(marks)):
    print(marks[i])

1 2 3 4 5
[1, 2, 3, 4, 5]
1
2
3
4
5

In [55]:
marks=list(map(int,input().split()))
sum=1
for i in marks:
    sum1=sum*i
    sum1+sum
print(sum)

1 2 3
1

In [2]:
marks=list(map(int,input().split()))
sum=0
for i in range(2,len(marks)+1,2):
    sum=sum+i
print(sum)

1 2 3 4 5 6 7
12

In [69]:
marks=list(map(int,input().split()))
if 10 in marks:
    print("Present")
else:
    print("Absent")

12 23 12 34 56 78 90 34 10
Present

In [ ]:
## to replace and add

In [71]:
## here in below code the given index is 3:4 so 3rd element is 88 which is replaced by the first given value which is chacha
## and rest of the values will be added as new values i,e kaka,lala,46 etc.


x=[1,2,37,88,'apple','papaya','banana','mango']
x[3:4]="chacha","Kaka","lala",46
print(x)

[1, 2, 37, 'chacha', 'Kaka', 'lala', 46, 'apple', 'papaya', 'banana', 'mango']

In [2]:
## adding up the value can also be done using insert function such that insert any value by giving index number at which value 
## is to add i.e suppose you have to add "Harry potter" at 3rd index you can do it which is given below


x=[1,2,37,88,'apple','papaya','banana','mango']
x.insert(3,'Harry potter')
print(x)

[1, 2, 37, 'Harry potter', 88, 'apple', 'papaya', 'banana', 'mango']

In [ ]:
## append function
## append will add the element at last

In [3]:
x=[1,2,37,88,'apple','papaya','banana','mango']
x.append('Harry potter')
print(x)

[1, 2, 37, 88, 'apple', 'papaya', 'banana', 'mango', 'Harry potter']

In [ ]:
## extend function

In [6]:
x=[1,2,37,88,'apple','papaya','banana','mango']
y=['lala',1,'tanhaji',2, 99, 'chacha', 'Kaka','krishh', 46, 'iron man']
x.extend(y)
print(x)

[1, 2, 37, 88, 'apple', 'papaya', 'banana', 'mango', 'lala', 1, 'tanhaji', 2, 99, 'chacha', 'Kaka', 'krishh', 46, 'iron man']

In [8]:
x=[1,2,37,88,'apple','papaya','banana','mango']
y=['lala',1,'tanhaji',2, 99, 'chacha', 'Kaka','krishh', 46, 'iron man']
y.append(x)
print(y)

['lala', 1, 'tanhaji', 2, 99, 'chacha', 'Kaka', 'krishh', 46, 'iron man', [1, 2, 37, 88, 'apple', 'papaya', 'banana', 'mango']]

In [ ]:
## pop function  it will remove the particular index i.e pop(2) therefore 2 index will be removed

In [17]:
x=[1,2,37,88,'apple','papaya','banana','mango']
x.pop(1)
print(x)

[1, 37, 88, 'apple', 'papaya', 'banana', 'mango']

In [13]:
## clear wiil remove all items


x=[1,2,37,88,'apple','papaya','banana','mango']
x.clear()
print(x)

[]

In [15]:
## remove function can remove and particular element by giving its value

x=[1,2,37,88,'apple','papaya','banana','mango']
x.remove(88)
print(x)

[1, 2, 37, 'apple', 'papaya', 'banana', 'mango']

In [18]:
## sort function---  it will arrange in ascending order


x=[12,34,445,56,67,56,42,23,65,43,32]
x.sort()
print(x)

[12, 23, 32, 34, 42, 43, 56, 56, 65, 67, 445]

In [20]:
##arranged in alphabetical order

x=['zebra','alpha','beta','gama','chacha','beck']
x.sort()
print(x)

['alpha', 'beck', 'beta', 'chacha', 'gama', 'zebra']

In [23]:
x=['Zebra','Alpha','beta','gama','CHACHA','beck']
x.sort(key=str.upper)
print(x)

['Alpha', 'beck', 'beta', 'CHACHA', 'gama', 'Zebra']

In [1]:
x=[1,2,37,88,'apple','papaya','banana','mango']
x.reverse()
print(x)

['mango', 'banana', 'papaya', 'apple', 88, 37, 2, 1]